.galeria {
  display: grid;
  gap: 80px;
}

.grid-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.p-3 {
  margin: 59px 203px 0 244px;
}

.card {
  text-align: center;
  width: 206px;
  height: 221px;
  box-sizing: border-box;
  background: radial-gradient(153.9% 81% at 50% 86.43%, #EBD300 0%, #CE0014 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-img, img{
  max-height: 186px;
}